body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.97);
}
.stopwatch{
    border: 2px solid rgba(0, 0, 0, 0.377);
    padding: 50px;
    border-radius: 20px;
    background-color: aliceblue;
    min-width: 50%;
}
.time{
    color: rgba(0, 0, 0, 0.719);;
    font-size: 3.5rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}
.controls{
    display: flex;
    gap: 15px;
    justify-content: center;
}
button{
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 15px;
    color: white;
}
.startBtn{
    background-color: hsl(120, 100%, 25%);
}
.stopBtn{
    background-color: hsl(0, 100%, 50%);
}
.resetBtn{
    background-color: hsl(240, 100%, 50%);
}
.startBtn:hover{
    background-color: hsl(120, 100%, 15%);
}
.stopBtn:hover{
    background-color: hsl(0, 100%, 40%);
}
.resetBtn:hover{
    background-color: hsl(240, 100%, 40%);
}